/*
Google Fonts: Tangerine, Roboto, Inspiration, Forum, Italianno, Julee, Dancing Script
*/

:root {
    --container-borders: 5px;
    --container-max-width: 90vw;
    --header-font: Inspiration;
    --book-border-radius-top: 10px 10px 0 0;
    --book-border-radius-botom: 0 0 10px 10px;
    --book-border-radius: 10px;
    

    /* --primary-100:#1e295a;
    --primary-200:#4c5187;
    --primary-300:#abacea;
    --accent-100:#F18F01;
    --accent-200:#833500;
    --text-100:#353535;
    --text-200:#5f5f5f;
    --bg-100:#F5ECD7;
    --bg-200:#ebe2cd;
    --bg-300:#c2baa6; */

    /* MIDNIGHT
    --primary-100:#FFFFFF;
    --primary-200:#e0e0e0;
    --primary-300:#9b9b9b;
    --accent-100:#7F7F7F;
    --accent-200:#ffffff;
    --text-100:#FFFFFF;
    --text-200:#777777;
    --bg-100:#000000;
    --bg-200:#161616;
    --bg-300:#2c2c2c;
       */
      
    /* Optional
    --primary-100:#8B6B61;
    --primary-200:#bc998e;
    --primary-300:#fffdf1;
    --accent-100:#F2A900;
    --accent-200:#854e00;
    --text-100:#4D4D4D;
    --text-200:#797979;
    --bg-100:#F5ECD7;
    --bg-200:#ebe2cd;
    --bg-300:#c2baa6; */

    
    /* --primary-100:#2C3E50;
    --primary-200:#57687c;
    --primary-300:#b4c7dd;
    --accent-100:#F7CAC9;
    --accent-200:#926b6a;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#F2F2F2;
    --bg-200:#e8e8e8;
    --bg-300:#bfbfbf; */
      
      /* BEST */
    --primary-100:#BFAE9F;
    --primary-200:#937962;
    --primary-300:#FFFFFF;
    --accent-100:#C9BEB9;
    --accent-200:#978178;
    --text-100:#4D4D4D;
    --text-200:#9e9e9e;
    --bg-100:#F5EFE8;
    --bg-200:#EEE3D7;
    --bg-300:#FFFFFF;
    --bg-100-darker:#f4ebe1;
    --bg-200-darker:#eee1d2;
      
      
      
      
      
      

}

body {
    background-color: var(--bg-100);
    height: 100vh;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    color: var(--text-100);
    background-image: -webkit-linear-gradient(var(--primary-100), var(--primary-200));
}

.navBar h1 {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: var(--bg-100);
    border: 4px solid var(--text-100);
    border-radius: 91% 9% 89% 11% / 18% 77% 23% 82%;
    font-size: 2.6rem;
    font-weight: 900;
    font-family: var(--header-font);
    letter-spacing: .6rem;
    transform: rotate(-.5deg);
    margin: 5px 10px;
    transition: .5s;
}

.navBar h1:hover {
    cursor: pointer;
    transform: rotate(5deg);
}
/*
Google Fonts: Tangerine, Roboto, Inspiration, Forum, Italianno, Julee, Dancing Script
*/

.bookSearch {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
}

.navBar .bookSearch input {
    display: flex;
    align-items: center;
    border: 4px solid var(--text-100);
    color: var(--text-100);
    border-radius: 100% 9% 100% 9% / 8% 77% 8% 77%;
    background: var(--bg-100);
    font-size: 1.8rem;
    width: 200px;
    padding-left: 10px;
}

.searchResults {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    background: var(--bg-100);
    top: 40px;
    right: 0px;
    padding: 19px;
    height: 0;
    width: 300px;
    max-width: 300px;
    border-radius: 5% 5% 5% 5% / 10% 10% 53% 53%;
    z-index: 1;
    transition: .5s;
    opacity: 0;
    border: 4px solid var(--bg-300);
}

.searchedBookInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px 0;
    border-bottom: 2px solid var(--bg-300);
}

.loader {
    align-self: center;
    border: 5px solid var(--bg-100); /* Light grey */
    border-top: 5px solid var(--bg-300); /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.searchedBookInfo:hover {
    cursor: pointer;
    background: var(--bg-300);
    color: var(--text-200);
}

.searchedBookInfo .coverContainer {
    aspect-ratio: 1 / 1.5;
    width: 42px;
    min-width: 42px;
}

.searchedBookInfo img {
    aspect-ratio: 1 / 1.5;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: silver;
}

.searchedBookInfo .titleAndAuthor {
    margin: 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.searchedBookInfo p {
    font-size: 1.5rem;
    color: var(--text-100);

}

#toggleSearchStyle {
    height: auto;
    opacity: 1;
    top: 50px;
}

/* NAVBAR AND SEARCH DONE */

.books {
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1 1 60vw;
    height: 78vh;
    transition: .5s;
    min-width: 700px;
    max-width: var(--container-max-width);
    margin: 2vw;
    background: var(--bg-200);
    border-radius: var(--book-border-radius);
}

.books:nth-child(1n + 1) {
    background: var(--bg-200);

}

.bookListContainer {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 2vw;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 2vw;
    flex-wrap: wrap;
}

.filterBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 3 8vw;
    margin: 2vw;
    background-color: var(--bg-200);
    min-width: 220px;
    max-height: 400px;
    max-width: var(--container-max-width);
    border-radius: var(--book-border-radius);
}

.filterBox:nth-child(1n + 2) {
    align-items: center;
}

.filterHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filterBox h1 {
    margin: 5px;
    flex-wrap: wrap;
    color: var(--text-100)
}

.myBookSearch {
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.myBookSearch input {
    display: flex;
    border: 3px solid var(--text-100);
    color: var(--text-100);
    background: var(--bg-100);
    font-size: 1.8rem;
    width: 100%;
    max-width: 250px;
    padding-left: 10px;
    border-radius: 5px;
}

.filterBox div:first-child {
    margin-bottom: 10px;
}

.filterBox div:nth-child(1n + 2) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0 10px 10px 10px;
}


.lineHeightContainer p {
    font-size: 1.8rem;
    color: var(--text-100);
    margin-right: 10px;
}
.ratingFilter {
    border: 3px solid var(--text-100);
    background-color: var(--primary-300);
    font-size: 1.8rem;
    color: var(--text-100);
    border-radius: 5px;
}

.ratingFilter:hover {
    cursor: pointer;
}

.ratingFilter:active {
    background: var(--bg-200);
}

/* TOGGLE SWITCH BELOW */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
    border: 3px solid var(--text-100);
    border-radius: 50px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-300);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 1px;
    background-color: var(--primary-200);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-200);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-200);
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    background-color: var(--primary-300);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* TOGGLE SWITCH ABOVE */

.toggleHeightSmall {
    padding-right: 400px !important;
    margin-right: 600px !important;
    opacity: 0;
}

.toggleHeightNormal {
    padding-right: 0 !important;
    transition: .2s;
    opacity: 1;
}


.books div:last-child {
    border-radius: var(--book-border-radius-botom)
}

.books div:first-child {
    border-radius: var(--book-border-radius-top)
}

.bookListHeader, .filterHeader {
    top: 0;
    height: 35px;
    background-image: -webkit-linear-gradient(var(--primary-200), var(--primary-200));
    font-size: 1.6rem;
    color: var(--bg-100);
    margin: 0;
    border-radius: var(--book-border-radius-top)
}

.bookListHeader p:first-child, .bookInfo p:first-child {
    margin-left: 2vw;
}

.bookListHeader p:last-child, .bookInfo a:last-child {
    margin-right: 2vw;
}

.bookListHeader, .bookInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex: 1;
    padding: 5px 0;
    border-bottom: 2px solid var(--primary-200);
}

.numberTitle, .coverTitle, .titleTitle, .authorTitle, .subjectTitle, .ratingTitle, .bookInfo p, .bookInfo img, .bookInfo a {
    margin: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: .3s;
}

.numberTitle, .bookInfo p:first-child {
    flex: 1;
    max-width: 30px;
}

.titleTitle, .title {
    flex: 3 1 25px;
    max-width: 400px;
}

.titleTitle:hover, .authorTitle:hover, .ratingTitle:hover, .subjectTitle:hover {
    cursor: pointer;
    color: silver;
}

.ratingTitle {
    max-width: 50px;
}

.authorTitle, .authors {
    flex: 2 1 25px !important;
}

.subjectTitle, .subject {
    flex: 2 1 25px !important;
    max-width: 350px;
}

.coverTitle {
    max-width: 40px;
    margin-right: 3vw;
    opacity: 1;
}

.bookInfo {
    display: flex;
    background-image: -webkit-linear-gradient(var(--bg-100), var(--bg-200));
    font-size: 1.8rem;
    color: var(--text-100);
    margin: var(--container-margins)

}

.bookInfo:nth-child(2n + 1) {
    background: -webkit-linear-gradient(var(--bg-100-darker), var(--bg-200-darker));
}

.bookInfo:hover {
    cursor: pointer;
    background-image: -webkit-linear-gradient(var(--primary-200), var(--primary-200));
    color: var(--bg-100);
}

.bookInfo a {
    display: flex;
    text-decoration: none;
    color: var(--text-100);
    font-style: italic;
}

.bookInfo img {
    aspect-ratio: 1 / 1.5;
    height: auto;
    background: silver;
    max-width: 40px;
    min-width: 40px;
    transition: max-width opacity .3s ease-in-out;
    max-height: auto;
    margin-right: 3vw;
    opacity: 1;
}

.bookListHeader .removeCover {
    max-width: 0px;
    opacity: 0;
}

.removeCover img {
    max-width: 0px;
    min-width: 0px;
    transition: max-width opacity .3s ease-in;
    opacity: 0;
}

.averageRating {
    display: none;
}