/*
Google Fonts: Tangerine, Roboto, Inspiration, Forum, Italianno, Julee, Dancing Script
*/

:root {
    --container-borders: 5px;
    --header-font: Inspiration;


    --primary-100:#DDDDDD;
    --primary-200:#EEEEEE;
    --primary-300:#fdf6fd;
    --accent-100:#bc6c25;
    --accent-200:#ecd79b;
    --text-100:#292524;
    --text-200:#78716c;
    --bg-100:#DDDDDD;
    --bg-200:#EEEEEE;
    --bg-100-darker:#cfcfcf;
    --bg-200-darker:#e9e9e9;
    --bg-300:#d1d1d1;   
      
}

body {
    background-color: var(--bg-100);
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    color: var(--text-100);
    background: var(--bg-100-darker);
}

.navBar h1 {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: var(--bg-100-d);
    border: 4px solid var(--text-100);
    border-radius: 91% 9% 89% 11% / 18% 77% 23% 82%;
    font-size: 4rem;
    font-family: var(--header-font);
    letter-spacing: .8rem;
    transform: rotate(-1deg);
    margin: 10px 20px;
}
/*
Google Fonts: Tangerine, Roboto, Inspiration, Forum, Italianno, Julee, Dancing Script
*/

.bookSearch {
    margin: 0 10px 3px 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: relative;
}

.loader {
    align-self: center;
    border: 5px solid var(--bg-100); /* Light grey */
    border-top: 5px solid var(--text-100); /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.navBar .bookSearch input {
    display: flex;
    align-items: center;
    border: 4px solid var(--text-100);
    border-radius: 100% 9% 100% 9% / 8% 77% 8% 77%;
    background: var(--bg-100);
    font-family: Tangerine;
    font-size: 2.4rem;
    font-weight: 600;
    width: 200px;
    padding-left: 10px;
}

.searchResults {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    background: var(--bg-100);
    top: 40px;
    right: 0px;
    padding: 19px;
    height: 0;
    width: 300px;
    max-width: 300px;
    border-radius: 5% 5% 5% 5% / 10% 10% 53% 53%;
    z-index: 1;
    transition: .5s;
    opacity: 0;
    border: 4px solid var(--text-100);
}

.searchedBookInfo {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px 0;
    border-bottom: 2px solid black;
}

.searchedBookInfo:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.searchedBookInfo img {
    aspect-ratio: 1 / 1.5;
    width: 50px;
    height: auto;
}

.searchedBookInfo p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 2px;
    font-size: 1.5rem;
}

#toggleSearchStyle {
    height: auto;
    opacity: 1;
    top: 50px;
}

.books {
    transition: .5s;
}

.bookListHeader {
    position: sticky;
    top: 0;
    background-image: -webkit-linear-gradient(var(--text-200), var(--text-100));
    font-size: 1.6rem;
    color: var(--bg-100);
    margin: 0;
}

.bookListHeader p:first-child, .bookInfo p:first-child {
    margin-left: 2vw;
}

.bookListHeader p:last-child, .bookInfo a:last-child {
    margin-right: 2vw;
}

.bookListHeader, .bookInfo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex: 1;
    padding: 5px;
    border-bottom: 2px solid var(--text-100);
}

.titleTitle, .authorTitle, .kindleTitle, .linkTitle, .numberTitle, .ratingTitle {
    display: flex;
    flex: 1;
}

.titleTitle {
    flex: 1.3 1 0%;
}

.titleTitle:hover {
    cursor: pointer;
    color: silver;
}

.bookInfo {
    background-image: -webkit-linear-gradient(var(--bg-100), var(--bg-200));
    font-size: 1.6rem;
    color: var(--text-100);
    margin: var(--container-margins)
}

.bookInfo:nth-child(2n + 1) {
    background-image: -webkit-linear-gradient(var(--bg-100-darker), var(--bg-200-darker));
}

.title, .author, .kindleUnlimited, .link, .number, .rating {
    display: flex;
    flex: 1;
}

.title {
    flex: 1.3 1 0%;
}

.number {
    max-width: 55px;
}

.numberTitle {
    max-width: 55px;
}

.link {
    display: flex;
    flex: 0 1 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: var(--text-100);
    font-style: italic;
}

.link:hover {
    color: silver;
}

.linkTitle {
    display: flex;
    flex: 0 1 150px;
}