@media (max-width: 625px) {
    :root {
        --navBar-height: 35px;
    }

    body {
        height: -webkit-fill-available;
        max-height: -webkit-fill-available;
        min-height: -webkit-fill-available;
    }

    .navBar {
        min-height: var(--navBar-height);
        max-height: var(--navBar-height);
    }

    .navBar .logo {
        min-width: 40px;
        overflow: hidden;
        flex-direction: column;
    }
    
    .navBar .logo img {
        width: 100%;
    }
    
    .navBar .logo h1 {
        display: none;
    }
    
    .dropdown:nth-child(1n) {
        padding: 0 10px;
    }
    
    .dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
        top: var(--navBar-height);
    }

    .sideMenu:hover .sideMenuContent, .sideMenu:active .sideMenuContent {
        display: flex;
        top: 35px;
        left: 0;
    }

    .bookSearch {
        margin: 0;
        width: 100%;
    }

    .navBar .bookSearch input {
        display: flex;
        align-items: center;
        color: var(--text-100);
        font-size: 1.6rem;
        word-spacing: -.07rem;
        width: 100%;
        min-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .spotlightBooks > div {
        aspect-ratio: 1 / 1.5;
        min-height: calc(var(--spotlight-container-height) - 40px);
        max-height: calc(var(--spotlight-container-height) - 40px);
        min-width: calc(var(--spotlight-container-height) - 85px);
        max-width: calc(var(--spotlight-container-height) - 85px);
        margin: 10px 4vw;
    }
    
    .spotlightBooks div img {
        aspect-ratio: 1 / 1.5 !important;
        min-height: 85%;
        max-height: 85%;
        min-width: 85%;
        max-width: 85%;
    }

    .bookListContainer {
            justify-content: flex-start;
            overflow: hidden;
            margin: 2vw;
            height: 100vh;
            max-height: 100vh;
    }
    
    .filterBox {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;
        flex: 1 10 8vw;
        margin: 0 0 2vh 0;
        background-color: var(--bg-200);
        min-width: 190px;
        height: auto;
        max-height: fit-content !important;
        border-radius: var(--book-border-radius);
    }
    
    .filterBox div:nth-child(1n + 2) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px 5px 5px;
    }

    .myBookSearch input {
        border: 1px solid var(--text-100);
        color: rgb(15, 15, 15);
        font-size: 1.4rem;
        letter-spacing: -.05rem;
        max-width: 125px;
        padding-left: 10px;
    }
    
    .lineHeightContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 5px 0 !important;
    }
    
    .lineHeightContainer p {
        font-size: 0px;
    }
    
    .favoriteFilter {
        font-size: 1.2rem !important;
        letter-spacing: -.05rem;
        flex-wrap: nowrap;
    }

    .removeCover div img {
        width: 0px;
        min-width: 0px;
    }

    .books {
        overflow-y: scroll;
        overflow-x: hidden;
        flex: 4 1 1000px;
        transition: .5s;
        max-width: 100%;
    }
    
    .favoriteFilter, .filterButtons .deleteFilter, .filterButtons .editFilter {
        border: 2px solid var(--text-100);
        background-color: var(--primary-200);
        font-size: 1.4rem;
        color: var(--primary-300);
        border-radius: 5px;
        margin: 2.5px;
    }
    
    .tag {
        padding: 5px;
        margin: 4px;
    }

    .bookInfo {
        font-size: 1.4rem;
        letter-spacing: -.07rem;
    }
    
    .bookInfo>div>p {
        padding-right: 5px;
    }

    .bookListHeader, .filterHeader {
        font-size: 1.2rem;
        height: 25px;
    }

    .moreDetails {
        min-height: fit-content;
        flex-wrap: wrap;
    }
    
    .moreDetails>p {
        font-size: 1.2rem;
        min-height: fit-content;
        max-height: 150px;
        white-space: normal !important;
        word-break: break-word;
    }
    
    .additionInfo div h2 {
        font-size: 1.2rem;
    }
    
    .additionInfo div p {
        font-size: .8rem;
    }
    
    .additionInfo button {
        font-size: 1.2rem;
        border-radius: 2px;
        padding: 2px 0px;
        margin: 0px;
        min-width: fit-content;
        max-width: fit-content;
    }

    .additionalInfoTagsContainer h2 {
        font-size: 1.2rem;
    }

    .booksTags h1 {
        font-size: 1rem !important;
        font-weight: 500 !important;
        margin: 0 2px 0px 2px;
        padding: 2px 5px;
        border: 1px solid black;
        border-radius: 25px;
        color: black;
        background: rgb(231, 231, 231);
    }

    .coverTitle {
        max-width: 30px;
    }
    
    .numberTitle, .titleTitle, .authorTitle, .subjectTitle, .ratingTitle, .bookInfo p, .bookInfo img, .bookInfo a {
        margin: 0 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .numberTitle, .bookInfo div p:first-child {
        flex: 1;
        max-width: 30px;
        min-height: fit-content;
    }
    
    .moreDetails {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 10px;
    }
    
    .moreDetails>p:nth-child(2) {
        min-height: fit-content;
        text-wrap: wrap;
        overflow-y: scroll;
    }
    
    .previewContainer {
        max-width: 90vw;
        min-width: 90vw;
        max-height: 90vh;
        min-height: fit-content;
        padding: 5px;
    }

    .previewContainer h1 {
        font-size: 1.2rem;
        font-weight: 800;
    }

    .previewContainer p {
        font-size: 1.2rem;
        white-space: normal !important;
        word-break: break-word;
    }

    .previewSubjectDatePublisher div {
        max-width: 20%;
        min-width: 14%;
    }

    .previewDescription {
        max-height: 150px;
        min-height: 150px;
    }

    .previewBoxTitleContainer {
        flex-direction: column;
    }

    .addBookContainer {
        width: 100%;
    }

    .addBook input, .addBook textarea, .addBook button {
        font-size: 1.0rem;
    }

    .mb-6 {
        margin-bottom: .5rem;
    }

    .p-9 {
        padding: 1rem;
    }
    
    .editBookContainer {
        width: 100%;
    }

    .editBook input, .editBook textarea, .editBook button {
        font-size: 1.0rem;
    }

    .editBook textarea {
        max-width: 80vw;
        margin-bottom: 1.25rem;
    }

    .mb-6 {
        margin-bottom: .5rem;
    }

    .p-9 {
        padding: 1rem;
    }

    }

@media (max-width: 900px) {

    .navBar {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: var(--navBar-height);
        max-height: var(--navBar-height);
    }

    .navBar .logo {
        max-width: 20px;
        padding: 0;
        margin: 3px 4px 1px 4px;
        overflow: hidden;
        flex-direction: column;
    }
    
    .navBar .logo img {
        max-width: 50px;
        min-width: 20px;
    }

    .navBar .logo h1 {
        display: none;
    }

    .bookListContainer {
        flex-direction: column;
        margin: 3vh;
        overflow-y: scroll;
        align-content: flex-start;
        position: relative;
    }

    .books {
        min-width: 100%;
        height: auto;
        max-height: min-content;
    }

    .filterBox {
        min-width: 100%;
        flex: 4 1 auto;
        margin: 0 0 3vh 0;
    }
}