@media (max-width: 625px) {

    :root {

        --navBar-height: 35px;
          
    }

    .navBar {
        min-height: var(--navBar-height);
        max-height: var(--navBar-height);
    }

    .navBar .logo {
        min-width: 40px;
        overflow: hidden;
        flex-direction: column;
    }
    
    .navBar .logo img {
        width: 100%;
    }
    
    .navBar .logo h1 {
        display: none;
    }
    
    .dropdown:nth-child(1n) {
        padding: 0 10px;
    }
    
    .dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
        top: var(--navBar-height);
    }

    .sideMenu:hover .sideMenuContent, .sideMenu:active .sideMenuContent {
        display: flex;
        top: 35px;
        left: 0;
    }
    
    .bookSearch {
        margin: 0;
        width: 100%;
    }

    .navBar .bookSearch input {
        display: flex;
        align-items: center;
        color: var(--text-100);
        font-size: 1.6rem;
        word-spacing: -.07rem;
        width: 100%;
        min-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .bookListContainer {
            overflow: hidden;
            margin: 2vw;
            height: 100vh;
            max-height: 100vh;
    }
    
    .filterBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 1 4 8vw;
        margin: 0 0 2vh 0;
        background-color: var(--bg-200);
        min-width: 190px;
        height: auto;
        max-height: fit-content;
        border-radius: var(--book-border-radius);
    }
    
    .books {
        overflow-y: scroll;
        overflow-x: hidden;
        flex: 4 1 60vw;
        transition: .5s;
        max-width: 100%;
        height: auto;
        max-height: auto;
    }
    
    .favoriteFilter, .filterButtons .deleteFilter, .filterButtons .editFilter {
        border: 2px solid var(--text-100);
        background-color: var(--primary-200);
        font-size: 1.4rem;
        color: var(--primary-300);
        border-radius: 5px;
        margin: 2.5px;
    }
    
    .tag {
        padding: 5px;
        margin: 4px;
    }

    .bookInfo {
        font-size: 1.4rem;
        letter-spacing: -.07rem;
    }
    
    .bookListHeader, .filterHeader {
        font-size: 1.2rem;
        height: 25px;
    }
    
    .moreDetails {
        min-height: fit-content;
        flex-wrap: wrap;
    }
    
    .moreDetails>p {
        font-size: 1.2rem;
        min-height: fit-content;
        max-height: 150px;
        white-space: normal !important;
        word-break: break-word;
    }
    
    .additionInfo div h2 {
        font-size: 1.2rem;
    }
    
    .additionInfo div p {
        font-size: .8rem;
    }
    
    .additionInfo button {
        border: 2px solid var(--text-100);
        background-color: var(--bg-100);
        font-size: 1.2rem;
        color: var(--text-100);
        border-radius: 2px;
        padding: 2px 0px;
        margin: 0px;
        min-width: fit-content;
        max-width: fit-content;
    }
    
    .bookInfo div img {
        /* max-width: 30px; */
    }

    .coverTitle {
        max-width: 30px;
    }
    
    .numberTitle, .titleTitle, .authorTitle, .subjectTitle, .ratingTitle, .bookInfo p, .bookInfo img, .bookInfo a {
        margin: 0 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .numberTitle, .bookInfo div p:first-child {
        flex: 1;
        max-width: 30px;
        min-height: fit-content;
    }
    
    .moreDetails {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 10px;
    }
    
    .moreDetails>p:nth-child(2) {
        min-height: fit-content;
        text-wrap: wrap;
        overflow-y: scroll;
    }
    
    .previewContainer {
        max-width: 90vw;
        min-width: 90vw;
        max-height: 90vh;
        min-height: fit-content;
        padding: 5px;
    }

    .previewContainer h1 {
        font-size: 1.2rem;
        font-weight: 800;
    }

    .previewContainer p {
        font-size: 1.2rem;
        white-space: normal !important;
        word-break: break-word;
    }

    .previewSubjectDatePublisher div {
        max-width: 20%;
        min-width: 14%;
    }

    .previewDescription {
        max-height: 150px;
        min-height: 150px;
    }

    .addBookContainer {
        width: 100%;
    }

    .addBook input, .addBook textarea, .addBook button {
        font-size: 1.0rem;
    }

    .mb-6 {
        margin-bottom: .5rem;
    }

    .p-9 {
        padding: 1rem;
    }
    
    .editBookContainer {
        width: 100%;
    }

    .editBook input, .editBook textarea, .editBook button {
        font-size: 1.0rem;
    }

    .editBook textarea {
        max-width: 80vw;
        margin-bottom: 1.25rem;
    }

    .mb-6 {
        margin-bottom: .5rem;
    }

    .p-9 {
        padding: 1rem;
    }

    }

@media (max-width: 900px) {

    .navBar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navBar .logo {
        max-width: 20px;
        padding: 0;
        margin: 3px 4px 1px 4px;
        overflow: hidden;
        flex-direction: column;
    }
    
    .navBar .logo img {
        max-width: 50px;
        min-width: 20px;
    }

    .navBar .logo h1 {
        display: none;
    }

    .bookListContainer {
        flex-direction: column;
        margin: 3vh;
        overflow-y: scroll;
        align-content: flex-start;
        position: relative;
    }

    .books {
        min-width: 100%;
        height: auto;
        flex: 1 4 auto;
        max-height: min-content;
    }

    .filterBox {
        min-width: 100%;
        flex: 4 1 auto;
        margin: 0 0 3vh 0;
    }
}