/*
Google Fonts: Tangerine, Roboto, Inspiration, Forum, Italianno, Julee, Dancing Script
*/

:root {
    --container-borders: 5px;
    --container-max-width: 90vw;
    --navBar-height: 40px;
    --navBar-border: 15px;
    --menu-width: 175px;
    --header-font: Roboto;
    --header-fontB: Tangerine;
    --book-border-radius-top: 10px 10px 0 0;
    --book-border-radius-botom: 0 0 10px 10px;
    --book-border-radius: 10px;
    --border-radius: 5px;
    --border-radius-round: 25px;
    --spotlight-container-height: 175px;
    
      /* hazelnut */
    --primary-100:#BFAE9F;
    --primary-200:#937962;
    --primary-300:#FFFFFF;
    --accent-100:#C9BEB9;
    --accent-200:#978178;
    --text-100:#4D4D4D;
    --text-200:#9e9e9e;
    --bg-100:#F5EFE8;
    --bg-200:#EEE3D7;
    --bg-300:#FFFFFF;
    --bg-100-darker:#f4ebe1;
    --bg-200-darker:#eee1d2;
      
}

::-webkit-scrollbar {
    width: 0px;
}

a {
    text-decoration: none;
    color: var(--text-100);
}

input {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-100);
    height: 100vh;
}

.promptContainer {
    z-index: 99;
    background: rgba(0, 0, 0, 0.695);
}

.alertBox {
    display: flex;
    position: fixed;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0px;
    width: fit-content;
    max-width: 200px;
    height: fit-content;
    margin: 1vh;
    background-color: white;
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px black;
    font-size: 1.6rem;
    z-index: 999;
    opacity: 1;
}

.navBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: var(--navBar-height);
    width: 100%;
    color: var(--text-100);
    background-image: -webkit-linear-gradient(var(--bg-100), var(--bg-200));
}

.navBar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
    padding: 0 10px;
    min-width: fit-content;
    max-width: fit-content;
}

.navBar .logo:hover {
    cursor: pointer;
}

.navBar .logo h1 {
    display: flex;
    align-items: center;
    color: var(--text-100);
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-200);
    min-width: fit-content;
    font-family: var(--header-font);
    font-style: italic;
    letter-spacing: .6rem;
    margin: 5px 0 5px 0px;
    transform: rotate(-.5deg);
    position: relative;
    top: 1px;
}

.navBar .logo h1:nth-child(2) {
    color: var(--text-100);
    font-family: var(--header-font);
    font-size: 2.4rem;
    font-weight: 900;
    margin-left: 10px;
    font-style: normal;
    position: relative;
    top: 0px;
}

.navBar .logo img:hover {
    transform: rotate(6deg);
    transition: 1s;
}

.navBar .logo img {
    height: 80%;
    width: fit-content;
    align-items: flex-start;
}

.dropdown:nth-child(1n) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    padding: 0 20px;
    height: 100%;
}

.dropdown:nth-child(2) {
    border-left: 1px solid var(--text-100);
    border-right: 1px solid var(--text-100);
    
}

.dropdown:nth-child(1n + 3) {
    border-right: 1px solid var(--text-100);
}



.dropdown:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
}

.dropdown span:hover + .dropdown-content, .dropdown span:active + .dropdown-content {
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap;
    top: var(--navBar-height);
}

.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap;
    top: var(--navBar-height);
}

.dropdown button:hover, .dropdown input:hover, .dropdown .sideMenu:hover {
    cursor: pointer;
    background-color: var(--text-100);
    color: var(--bg-300);
}

.dropdown button, .dropdown input, .dropdown .sideMenu {
    border-top: 1px solid var(--text-100);
    border-bottom: 1px solid var(--text-100);
    background-color: var(--bg-100);
    font-size: 1.6rem;
    color: var(--text-100);
    width: var(--menu-width);
    padding: 5px;
}

.dropdown .sideMenu {
    position: relative;
}

.dropdown .sideMenu .sideMenuContent {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100px;
    width: var(--menu-width);
    z-index: 1;
}

.sideMenu:hover .sideMenuContent, .sideMenu:active .sideMenuContent {
    display: flex;
    left: var(--menu-width);
}

.previewContainerHolder {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.858);
    justify-content: center;
    z-index: 99;
}

.previewContainer {
    position: relative;
    background: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    max-width: 550px;
    min-width: 500px;
    max-height: fit-content;
    min-height: fit-content;
    padding: 10px;
    margin: 5px;
    border-radius: var(--border-radius);
    transition: .3s;
}

.previewBoxTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

.previewBoxTitleContainer p {
    font-size: 2.4rem;
    font-style: italic;
    margin: 0;
    color: black;
}

.previewBoxTitleContainer a {
    color: rgb(0, 56, 129);
}

.previewBoxTitleSpacing {
    margin: 0 7px;
    font-size: .6rem;
}

.previewContainer div {
    margin: 5px;
}

.previewContainer h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.previewContainer p {
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.previewContainer img {
    aspect-ratio: 1 / 1.5;
    max-width: 100px;
}

.previewCoverAuthorTitle {
    align-items: end;
    align-self: flex-start;
}

.previewCoverAuthorTitle .authorAndTitle {
    max-width: 400px;
    margin-bottom: 0;
}

.previewSubjectDatePublisher {
    width: 100%;
    justify-content: space-around;
}

.previewSubjectDatePublisher div {
    max-width: 100px;
    min-width: 100px;
}

.previewDescription {
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    font-size: 1.4rem;
    overflow-y: scroll;
    padding: 10px;
    background: rgb(240, 240, 240);
    border-radius: 3px;
    border: 1px inset;
}

.previewDescription p {
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: show;
}

.previewButtons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 2.0rem;
}

.previewButtons button {
    margin: 0 5px;
}

.addBookContainer {
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.723);
    height: 100vh;
    width: 100vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
}

.addBook {
    border: 3px solid var(--text-100);
    border-radius: var(--border-radius);
}

.addBook input, .addBook textarea, .addBook button {
    color: rgb(17, 17, 17);
    font-size: 1.8rem;
    border: 2px solid var(--text-100);
    border-radius: var(--border-radius);
    font-style: italic;
}

.addBook .submitButton {
    background: rgb(42, 170, 42);
}

.addBook .cancelButton {
    background: rgb(231, 66, 66);
}

.editBookContainer {
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.723);
    height: 100vh;
    width: 100vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
}

.editBook {
    border: 3px solid var(--text-100);
    border-radius: var(--border-radius);
}

.editBook input, .editBook textarea, .editBook button {
    color: rgb(17, 17, 17);
    font-size: 1.8rem;
    border: 2px solid var(--text-100);
    border-radius: var(--border-radius);
    font-style: italic;
}

.editBook .submitButton {
    background: rgb(42, 170, 42);
}

.editBook .cancelButton {
    background: rgb(231, 66, 66);
}

.bookSearch {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    position: relative;
    margin-left: auto;

}

.navBar .bookSearch input {
    display: flex;
    align-items: center;
    color: rgb(15, 15, 15);
    font-size: 1.8rem;
    width: 250px;
    padding-left: 10px;
}

.searchResults {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    background: var(--bg-100);
    top: var(--navBar-height);
    right: 0px;
    padding: 10px;
    height: 0;
    max-height: 60vh;
    overflow-y: scroll;
    min-width: 250px;
    max-width: 250px;
    border-radius: 0% 0% 5% 5% / 0% 0% 20% 20%;
    z-index: 98;
    transition: .5s;
    opacity: 0;
    border: 4px solid var(--primary-200);
}

.searchedBookInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px 0;
    border-bottom: 2px solid var(--primary-200);
}
.searchedBookButtons {
    margin-left: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: var(--border-radius);
    background-color: var(--primary-200);
}

.addFromSearchButton {
    color: var(--primary-300);
    padding: 0 5px;
    font-size: 1.4rem;
}

.searchedBookInfo:hover {
    cursor: pointer;
    background: var(--bg-300);
    color: var(--text-200);
}

.searchedBookInfo .coverContainer {
    aspect-ratio: 1 / 1.5;
    width: 38px;
    min-width: 38px;
}

.searchedBookInfo img {
    aspect-ratio: 1 / 1.5;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: silver;
}

.searchedBookInfo .titleAndAuthor {
    margin: 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.searchedBookInfo p {
    font-size: 1.4rem;
    color: var(--text-100);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#toggleSearchStyle {
    height: auto;
    opacity: 1;
}

.fa-x {
    font-size: 0;
}

.fa-x:nth-child(2) {
    position: absolute;
    font-size: 2.0rem;
    top: 0;
    right: 5px;
    padding: 5px 2px;
    z-index: 2;
}

.fa-x:hover {
    cursor: pointer;
}

.cantFindBook {
    font-size: 0;
}

.cantFindBook:last-child {
    font-size: 1.2rem;
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}

.cantFindBook:last-child:hover {
    cursor: pointer;
}

.loader {
    align-self: center;
    border: 5px solid var(--bg-100); /* Light grey */
    border-top: 5px solid var(--bg-300); /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* NAVBAR AND SEARCH DONE */

.spotlightContainer {
    position: relative;
    display: flex;
    min-height: var(--spotlight-container-height);
    overflow: hidden;
    width: 100vw;
    padding: 20px 0 5px 0;
    background-color: var(--primary-200);
    scroll-behavior: smooth;
    transition: 1s;
}

.scrollLeft, .scrollRight {
    display: flex;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: 1s;
}

.spotlightContainer .scrollLeft, .spotlightContainer .scrollRight {
    top: 65px;
    height: 50px;
    width: 35px;
    background: rgba(0, 0, 0, 0.599);
    z-index: 97;
}

.spotlightContainer .scrollLeft:hover, .spotlightContainer .scrollRight:hover {
    cursor: pointer;
}

.spotlightContainer .scrollLeft {
    border-radius: 0 10px 10px 0;
    left:0;
}

.scrollLeftIcon, .scrollRightIcon {
    color: var(--primary-300);
}
.scrollRightIcon {
    transform: rotate(-90deg);
}

.scrollLeftIcon {
    transform: rotate(90deg);
}

.spotlightContainer .scrollRight {
    border-radius: 10px 0 0 10px;
    right:0;
}

.toggleSpotlightIcon {
    align-self: flex-end;
    margin: 0 auto;
    font-size: 2.0rem;
    padding: 0px 10px;
    z-index: 97;
    transition: 1s;
    color: var(--bg-100);
}

.toggleSpotlightIcon:hover {
    cursor: pointer;
}

.spotlightBooks {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    white-space: nowrap;
    padding: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    opacity: 0;
    transition: 1s;
}

.spotlightBooks>div {
    aspect-ratio: 1 / 1.5;
    min-height: calc(var(--spotlight-container-height) - 40px);
    max-height: calc(var(--spotlight-container-height) - 40px);
    margin: 10px 4vw;
}

.spotlightBooks>div:first-child {
    margin-left: 8vw;
}

.spotlightBooks>div:last-child {
    margin-right: 8vw;
}

.spotlightBooks>div {
    position: relative;
}

.spotlightBooks div img {
    min-height: 85%;
    max-height: 85%;
    min-width: 85%;
    max-width: 85%;
    z-index: 2;
    position: relative;
    box-shadow: 5px 5px 15px black;
    transition: 1s;
    transition-delay: .3s;
}

.spotlightBooks div img:hover, .spotlightBookItemPreviewEvent:hover {
    cursor: pointer;
    /* transform: scale(1.15); */
}

.spotlightBookItemPreviewEvent {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    min-height: 85%;
    max-height: 85%;
    min-width: 85%;
    max-width: 85%;
    padding: 5px;
    z-index: 3;
    background: rgba(45, 45, 45, 0.797);
    color: white;
    font-size: 1.2rem;
    transition: opacity 1s;
    opacity: 0;
}

.spotlightBookItemPreviewEvent h2 {
    white-space: normal;
    text-align: center;
}

.books {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 4 1 60vw;
    height: 100%;
    transition: .5s;
    scroll-behavior: smooth;
    max-width: var(--container-max-width);
    margin: 0;
    background: var(--bg-200);
    border-radius: var(--book-border-radius);
    z-index: 0;
}

.bookListContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 1.5vw;
    overflow: hidden;
}

.books:nth-child(1n + 1) {
    background: var(--bg-200);

}

.filterBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 4 8vw;
    margin: 0 1.5vw 1.5vw 0;
    background-color: var(--bg-200);
    min-width: 190px;
    max-width: var(--container-max-width);
    border-radius: var(--book-border-radius);
}

.filterBox:nth-child(1n + 2) {
    align-items: center;
}

.filterHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filterBox h1 {
    margin: 5px;
    flex-wrap: wrap;
    color: var(--text-100)
}

.myBookSearch {
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.myBookSearch input {
    display: flex;
    border: 1px solid var(--text-100);
    color: rgb(15, 15, 15);
    font-size: 1.8rem;
    width: 100%;
    max-width: 250px;
    padding-left: 10px;
    border-radius: var(--border-radius);
}

.filterBox div:first-child {
    margin-bottom: 10px;
}

.filterBox div:nth-child(1n + 2) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0 10px 10px 10px;
}


.lineHeightContainer p {
    font-size: 1.8rem;
    color: var(--text-100);
    margin-right: 10px;
}
.filterButtons, .tagButtons {
    flex-wrap: wrap;
}

.bookListHeader {
    position: sticky;
    top: 0px;
    z-index: 2;
}

.bookListHeader, .filterHeader {
    height: 35px;
    background-image: -webkit-linear-gradient(var(--primary-200), var(--primary-200));
    font-size: 1.6rem;
    color: var(--bg-100);
    margin: 0;
    border-radius: var(--book-border-radius-top)
}

.bookListHeader, .bookInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex: 1;
    padding: 5px 0;
    border-bottom: 2px solid var(--primary-200);
}

.bookListHeader .removeCover {
    max-width: 0px;
    opacity: 0;
}

.bookInfo {
    flex-direction: column;
    position: relative;
    background-image: -webkit-linear-gradient(var(--bg-100), var(--bg-200));
    font-size: 1.8rem;
    transition: .2s;
    color: var(--text-100);
}

.bookInfo>div {
    width: 100%;
    z-index: 1;
}

.bookInfo div>i {
    font-size: 1.4rem;
    position: absolute;
    top:0;
    right:0;
    margin: 10px;
}

.coverTitle, .titleTitle, .authorTitle, .subjectTitle, .ratingTitle, .bookInfo p, .bookInfo img, .bookInfo a {
    margin: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: .3s;
}

.bookInfo p {
    margin: 0;
    padding: 0;
}

.coverTitle {
    min-width: 40px;
}

.bookInfo div p, .bookInfo div img, .bookInfo div a {
    pointer-events: none;
}


.bookInfo .lineNumber {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 1rem;
}

.tagColors {
    pointer-events: none;
}

.bookInfo div .tagColors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto 0 auto;
}

.bookInfo div .tagColors div {
    width: 40px;
    height: 3.5px;
    pointer-events: none;
}

.titleTitle, .title {
    flex: 3 1 25px;
    max-width: 400px;
}

.titleTitle:hover, .authorTitle:hover, .ratingTitle:hover, .subjectTitle:hover {
    cursor: pointer;
    color: silver;
}

.ratingTitle {
    max-width: 50px;
}

.authorTitle, .authors {
    flex: 2 1 25px !important;
}

.subjectTitle, .subject {
    flex: 2 1 25px !important;
    max-width: 350px;
}

.coverTitle {
    max-width: 40px;
    margin: 0 3vw 0 4vw;
    opacity: 1;
}

.favoriteFilter, .filterButtons .deleteFilter, .filterButtons .editFilter {
    border: 1px solid var(--text-100);
    background-color: var(--primary-200);
    font-size: 1.6rem;
    color: var(--primary-300);
    border-radius: var(--border-radius);
    margin: 5px;
}

.ratingFilter {
    min-width: fit-content;
}

.deleteFilter {
    min-width: fit-content;
}

.favoriteFilter i {
    pointer-events: none;
}

.favoriteFilter:hover, .deleteFilter:hover {
    cursor: pointer;
}

.favoriteFilter:active, .deleteFilter:active, .editFilter:active {
    background: var(--bg-200);
}

.addTagContainer {
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 5px;
}

.addTagContainer input {
    max-width: 50px;
}

.addTagContainer .tagColor {
    max-width: 20px;
    max-height: 20px;
}

.addTagContainer .tagColor:hover {
cursor: pointer;
}

.addTagContainer form {
    max-width: fit-content;
    max-height: fit-content;
}

.addTagContainer .addTagFormButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.addTagFormButtons button, .addTagFormButtons p {
    max-width: fit-content;
    max-height: fit-content;
    font-size: 1.2rem;
}

.tagButtons {
    color: white;
    font-size: 1.2rem;
}

.tagButtons button {
    border: 1px solid white;
    border-radius: 25px;
    margin: 1px;
}

.tagButton::before {
    content: "#";
}

.tagButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: 0;
}

.tagButtons i {
    display: none;
    position: absolute;
    left: 0;
    font-size: .8rem;
    background: black;
    padding: 2px 3px;
    margin: 3px;
    border-radius: 25px;
    z-index: 2;
}

.tagButton:hover i {
    display: flex;
}

.readTag {
    background: rgb(137, 0, 0);
}

.readingTag {
    background: rgb(0, 144, 22);
}

.notReadTag {
    background: rgb(179, 170, 0);
}

.newTag {
    background: rgb(0, 0, 0);
}

.tag {
    position: absolute;
    left: 0;
    padding: 7px;
    margin: 3px;
    border-radius: 25px;
    background: var(--bg-100);
}

/* TOGGLE SWITCH BELOW */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
    border: 2px solid var(--text-100);
    border-radius: 50px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-300);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2px;
    background-color: var(--primary-200);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-200);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-200);
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
    background-color: var(--primary-300);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* TOGGLE SWITCH ABOVE */

.toggleHeightSmall {
    padding-right: 400px !important;
    margin-right: 600px !important;
    opacity: 0;
}

.toggleHeightNormal {
    padding-right: 0 !important;
    margin-right: 0px !important;
    transition: .2s;
    opacity: 1;
}


.books>div:last-child {
    border-radius: var(--book-border-radius-botom)
}

.books>div:first-child {
    border-radius: var(--book-border-radius-top)
}

.deleteIcon {
    position: absolute;
    background-color: #ff4848;
    box-shadow: 0 0 3px black;
    font-size: 1.6rem;
    top: 0px;
    right: 0px;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    z-index: 2;
}

.editIcon {
    position: absolute;
    background-color: #ffff3e;
    box-shadow: 0 0 3px black;
    font-size: 1.6rem;
    top: 0px;
    right: 0px;
    margin: 5px;
    padding: 3px;
    border-radius: var(--border-radius);
    border: 2px solid black;
    color: black;
    z-index: 2;
}

.bookInfo>div:first-child {
    display: flex;
    margin: var(--container-margins);
    align-items: center;
    z-index: 1;
}

.bookInfo:nth-child(2n + 2) {
    background: -webkit-linear-gradient(var(--bg-100), var(--bg-200));
}

.bookInfo:nth-child(2n + 1) {
    background: -webkit-linear-gradient(var(--bg-100-darker), var(--bg-200-darker));
}

.bookInfo:hover {
    cursor: pointer;
    background-image: -webkit-linear-gradient(var(--primary-200), var(--primary-200));
    color: var(--bg-100);
}

.bookInfo div a {
    display: flex;
    text-decoration: none;
    color: var(--text-100);
    font-style: italic;
}

.bookInfo div img {
    aspect-ratio: 1 / 1.5;
    height: auto;
    background: silver;
    max-width: 40px;
    min-width: 40px;
    transition: max-width opacity .3s ease-in-out;
    max-height: auto;
    margin: 0 3vw 0 4vw;
    opacity: 1;
}

.selectedBook {
    background-image: -webkit-linear-gradient(var(--primary-200), var(--primary-200)) !important;
    color: var(--bg-100);
}

.removeCover div img {
    max-width: 0px;
    min-width: 0px;
    transition: max-width opacity 1s ease-in;
    opacity: 0;
}

.moreDetails {
    display: flex;
    flex-direction: column;
    height: fit-content;
    transition: .1s ease-in;
    padding: 10px 10vw 0px 10vw;
    margin-top: 5px;
    overflow: hidden;
    max-height: 500px;
    opacity: 1;
    transition: .7s;
}

.moreDetails .descriptionTitle {
    white-space: nowrap;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 600;
}

.moreDetails>p {
    pointer-events: all !important;
    font-size: 1.5rem;
    min-width: 100%;
    max-width: 100%;
    min-height: fit-content;
    max-height: 26vh;
    overflow-y: scroll;
    white-space: wrap;
    text-overflow: scroll;
    margin-bottom: 10px;
}

.additionInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-top: 1px solid var(--bg-100);
    border-bottom: 1px solid var(--bg-100);
}

.additionInfo button, .additionInfo div {
    margin-right: 10px;
}


.additionInfo button {
    background-color: var(--bg-100);
    font-size: 1.8rem;
    color: var(--text-100);
    border-radius: var(--border-radius);
    padding: 2px;
    min-width: fit-content;
}

.additionInfo button a {
    pointer-events: all;
}

.additionInfo div {
    display: flex;
    flex-direction: column;
    min-width: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.additionInfo div h2 {
    white-space: nowrap;
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
}

.additionInfo div p {
    white-space: nowrap;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
}

.additionInfo i {
    text-align: center;
    font-size: 1.4rem;
    color: var(--bg-100);
}

.additionInfo .fa-eye {
    right: 25px;
}

.previewContainer>.additionalInfoTagsContainer {
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 0px 0 0px 0;
    margin: 5px 0px;
}

.previewContainer>.additionalInfoTagsContainer>.booksTags {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background: inherit;
    border-radius: 25px;
    padding: 2px 1px;
    width: 100%;
    margin: 0 10px;
}

.previewContainer>.additionalInfoTagsContainer>.booksTags h1:hover {
    cursor: pointer;
}

.additionalInfoTagsContainer {
    display: flex;
    align-items: center;
    height: fit-content;
    border-radius: 0px;
    padding: 10px 0 10px 0;
    margin: 0;
}

.additionalInfoTagsContainer i {
    position: static !important;
}

.additionalInfoTagsContainer h2 {
    font-weight: 600;
    font-size: 1.6rem;
}

.booksTags {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 25px;
    padding: 2px 1px;
    margin: 0 10px;
}

.booksTags h1::before {
    content: '#';
}

.booksTags h1 {
    font-size: 1.2rem;
    margin: 0 2px 0px 2px;
    padding: 2px 5px;
    border-radius: 25px;
    color: inherit;
}


.favorite {
    color: gold !important;
    z-index: 1;
}

.highlightButtonRed {
    box-shadow: 0 0 5px rgb(255, 0, 0);
    border: 2px solid rgb(255, 92, 92);
    color: rgb(255, 222, 222);
}

.highlightButtonGold {
    box-shadow: 0 0 5px rgb(251, 255, 0);
    border: 2px solid rgb(255, 255, 92);
    color: rgb(255, 222, 222);

}

.toggleHeightSmall {
    opacity: 0;
    height: 0;
    max-height: 0px;
    margin-right: 600px !important;
}

.toggleHeightNormal {
    margin-right: 0px !important;
    height: auto;
    max-height: 200px;
    opacity: 1;
}


.toggleSlideOut {
    margin-right: 600px !important;
    opacity: 0;
}

.toggleSlideIn {
    margin-right: 0px !important;
    opacity: 1;
}

.toggleSlideOutRight {
    margin-left: 600px !important;
    opacity: 0;
}

.toggleSlideInRight {
    margin-left: 0px !important;
    opacity: 1;
}

.toggleHidden {
    display: none !important;
    opacity: 0;
}

.toggleShow {
    display: flex;
    opacity: 1;
}

.rotate180 {
    transform: rotate(180deg);
}

.removeHeight {
    max-height: 0px;
    opacity: 0;
}

.closeSpotlight {
    min-height: 5px;
    height: 5px;
}

.unclickable { 
    pointer-events: none; 
} 
